{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    // Code Style
    "brace-style": [
      "error",
      "1tbs"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "indent": [
      "error",
      2,
      {"SwitchCase": 1}
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "keyword-spacing": "error",
    "new-cap": "error",
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-extra-parens": "error",
    "no-extra-semi": "error",
    "no-floating-decimal": "error",
    "no-irregular-whitespace": "error",
    "no-lone-blocks": "error",
    "no-multi-str": "error",
    "no-multi-spaces": "error",
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-redeclare": "error",
    "no-self-compare": "error",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-sparse-arrays": "error",
    "no-trailing-spaces": "error",
    "no-void": "error",
    "no-with": "error",
    "quotes": [
      "error",
      "double",
      "avoid-escape"
    ],
    "semi": "error",
    "space-infix-ops": "error",
    "space-unary-ops": [
      "error",
      {
        "words": true,
        "nonwords": false
      }
    ],

    // Best Practices
    "block-scoped-var": "error",
    "camelcase": [
      "error",
      {"properties": "never"}
    ],
    "consistent-return": "error",
    "constructor-super": "error",
    "curly": [
      "error",
      "all"
    ],
    "dot-notation": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-empty-pattern": "error",
    "no-extra-bind": "error",
    "no-catch-shadow": "error",
    "no-cond-assign": "error",
    "no-console": "warn",
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-boolean-cast": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-invalid-regexp": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": [
      "error",
      {
        "allowLoop": true,
        "allowSwitch": true
      }
    ],
    "no-loop-func": "error",
    "no-native-reassign": "error",
    "no-negated-in-lhs": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-symbol": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-regex-spaces": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-shadow": "error",
    "no-this-before-super": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-unexpected-multiline": "error",
    "no-underscore-dangle": "error",
    "no-unreachable": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": [
      "error",
      "local"
    ],
    "no-use-before-define": "error",
    "no-var": "error",
    "radix": "error",
    "strict": [
      "error",
      "global"
    ],
    "use-isnan": "error",
    "valid-jsdoc": "error",
    "yoda": [
      "error",
      "never"
    ],

    // React Style Rules
    "react/display-name": "error",
    "react/jsx-equals-spacing": [
      "error",
      "never"
    ],
    "react/jsx-handler-names": "error",
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-key": "error",
    "react/jsx-no-bind": [
      "error",
      {"allowArrowFunctions": true}],
    "react/jsx-no-duplicate-props": [
      "error",
      {"ignoreCase": true}
    ],
    "react/jsx-no-undef": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-space-before-closing": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react/no-deprecated": "warn",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-is-mounted": "error",
    "react/no-multi-comp": [
      "error",
      {"ignoreStateless": true}
    ],
    "react/no-string-refs": "error",
    "react/no-unknown-property": "error",
    "react/prefer-stateless-function": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/sort-comp": "warn",
    "react/sort-prop-types": "warn",
    "max-len": ["error", {"code": 145}]
  }
}
