.react-checkboxed-dropdown-container {
    position: relative;
    width: 240px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.react-checkboxed-dropdown {
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
}

.react-checkboxed-dropdown:focus {
    outline: 0;
    box-shadow: 0 0 4px #0493d1;
}

.react-checkboxed-dropdown:before {
    content: " ";
    z-index: 1;
    position: absolute;
    height: 20px;
    top: 15px;
    right: 34px;
    border-left: 1px solid #cbd2d7;
}

.react-checkboxed-dropdown:after {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 23px;
    right: 13px;
    border-top: 6px solid #7b8e9b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.react-checkboxed-dropdown-label,
.react-checkboxed-dropdown-option {
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    color: #7b8e9b;
}

.react-checkboxed-dropdown-label {
    padding: 0 40px 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0493d1;
}

.react-checkboxed-dropdown-empty .react-checkboxed-dropdown-label {
    color: #7b8e9b;
}

.react-checkboxed-dropdown-click-outside-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.react-checkboxed-dropdown-clear {
    position: absolute;
    top: 15px;
    right: 0;
    width: 35px;
    height: 20px;
    background-color: #fff;
    text-indent: -9999em;
    z-index: 3;
    border: none;

}

.react-checkboxed-dropdown-clear:before {
    content: "×";
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 1;
    background-color: #7b8e9b;
    border-radius: 100%;
    font-size: 13px;
    color: #fff;
    line-height: 1;
    width: 15px;
    height: 15px;
    text-indent: 0;
    text-align: center;
}

.react-checkboxed-dropdown-clear:hover,
.react-checkboxed-dropdown-clear:focus {
    outline: 0;
}

.react-checkboxed-dropdown-clear:hover:before,
.react-checkboxed-dropdown-clear:focus:before {
    background-color: #0493d1;
}

.react-checkboxed-dropdown-hidden {
    display: none;
}

.react-checkboxed-dropdown-options {
    margin: 2px 0 0;
    position: absolute;
    padding: 10px 0;
    width: 240px;
    top: 100%;
    left: 0;
    z-index: 4;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.react-checkboxed-dropdown-options-list {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.react-checkboxed-dropdown-option {
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    display: block;
    line-height: 1.2;
    text-decoration: none;
}

.react-checkboxed-dropdown-option:hover {
    color: #0493d1;
    background-color: #f4f4f4;
}

.react-checkboxed-dropdown-option-selected {
    color: #cbd2d7;
}

.react-checkboxed-dropdown-multi .react-checkboxed-dropdown-option {
    padding-left: 42px;
    position: relative;
}

.react-checkboxed-dropdown-multi .react-checkboxed-dropdown-option:before {
    content: " ";
    position: absolute;
    line-height: 1;
    text-align: center;
    left: 20px;
    top: 9px;
    border-radius: 3px;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    border: 1px solid #7b8e9b;
    background: #f9f9f9;
    vertical-align: middle;
}

.react-checkboxed-dropdown-multi .react-checkboxed-dropdown-option-selected:before {
    content: "✓";
}

.react-checkboxed-dropdown-multi .react-checkboxed-dropdown-option-selected {
    color: #1f3344;
}

.react-checkboxed-dropdown-option:focus,
.react-checkboxed-dropdown-option-focused {
    color: #0493d1;
    outline: 0;
    background-color: #dde2e5;
}

.react-checkboxed-dropdown-close {
    color: #0493d1;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    padding: 5px 0;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.react-checkboxed-dropdown-close:hover,
.react-checkboxed-dropdown-close:focus {
    text-decoration: underline;
}

.react-checkboxed-dropdown-empty .react-checkboxed-dropdown-close {
    color: #cbd2d7;
}

.react-checkboxed-dropdown-native {
    position: absolute;
    left: -99999em;
}
